<div class='info-wrap clearfix'>
	<div class='caption book-info'>
		<h2 class='green info-item title'>{{ data.title }}</h2>
		<div class='info-item author'>{{orUnknown data.author}}</div>
		<div class='info-item epub-version'>ePUB {{orUnknown data.epub_version}}</div>
		
	</div>
	
	<img class='cover-image read' src='{{ data.cover_href }}' width='150' height='220' alt='Open ePUB {{ data.title }}'>
	
	<a href="#details-modal-{{ data.key }}" class="info-icon" data-toggle="modal" role="button">
		<img class='info-icon pull-right' src='/images/library/info-icon.png' height="39px" width="39px" alt='{{ data.title }} information'>
	</a>
</div>

<div class="caption clearfix buttons">
	<a href="#todo" class="btn read" data-book='{{ data.key }}' role='button'>Read</a>
	<a href="#details-modal-{{ data.key }}" class="btn details" data-toggle="modal" role="button">
		Details
	</a>
</div>

<div id='details-modal-{{ data.key }}' class='modal fade details-modal'>
	<div class="pull-left modal-cover-wrap">
		<img class='details-cover-image' src='{{ data.cover_href }}' width='150' height='220' alt='ePUB cover'>
		<div class="caption clearfix modal-buttons">
			<a href="#" class="btn read" data-book='<%= data.key %>' role='button'>Read</a>
			<a class="btn btn-danger delete pull-right" role='button'>Delete</a>
		</div>
	</div>
	<div class='caption modal-book-info'>
		<h3 class='green modal-title'>{{ data.title }}</h3>
		<div class='modal-detail gap'>Author: {{orUnknown data.author}}</div>
		<div class='modal-detail'>Publisher: {{orUnknown data.publisher}}</div>
		<div class='modal-detail'>Pub Date: {{orUnknown data.pubdate}}</div>
		<div class='modal-detail'>Modified Date: {{orUnknown data.modified_date}}</div>
		<div class='modal-detail gap'>ID: {{orUnknown data.id}}</div>
		<div class='modal-detail green'>Format: ePUB {{orUnknown data.epub_version}}</div>
		<div class='modal-detail'>Added: {{orUnknown data.created_at}}</div>
	</div>
	<div class='modal-detail source'>
	<span class='green' style="padding-right: 10px">Source:</span>
		{{orUnknown data.src_url}}
	</div>
</div>			